<!DOCTYPE html>
{% load staticfiles %}
  <html>
    <head>
        <meta charset="utf-8">
        <title> Pokemon Page </title>
    </head>

    <body>
        <h1> SoftJobs! </h1>

        <div class="djangtwo">
            {% if jobs %}
            <table>
                <thead>
                    <th>push_count</th>
                    <th>title</th>
                    <th>date</th>
                    <th>company_name</th>
                </thead>

                {% for job in jobs %}
                <tr>
                    <td> {{ job.push_count }} </td>
                    <td> {{ job.title }} </td>
                    <td> {{ job.date }} </td>
                    <td> {{ job.company_name }} </td>
                </tr>
                {% endfor %}
            {% else %}
                <p> NO JOBS! </p>
            {% endif %}
            </table>
        </div>


        <!-- <img src='{% static 'images/aa.png' %}' alt='Uh oh, not show'> -->
    </body>

  </html>